
body{
    background-color: antiquewhite;
    


}

#lab{
    background-image: url('../images/Oaks_Lab.jpg'); 
    height: 600px;
    width: 600px;
    display:block;
    position: absolute;
    margin: auto;
    margin: 1em;
    padding-left: 1em;
    padding-right: 1em; 
    border-color: lightgrey;
    border-width: 0.5cm;
    border-style: solid;
    


    
    
}

#pokeballs{
    background-color: lightslategray;
    height: 400px;
    width: 400px; 
    padding: 0px;
    display:inline;
    position:relative;
    top: 50%;
    left: 25%;
    padding: 1em;
    

   

}

#pokemon_info{
    background-color: white;
    color:black; 
    position: relative;
    top: 70%;
    height: 50px;
    font-size: 1.5em;
    


}

.confirm{

    height: 20px; 
    width: 50px; 
    background-color: white;
    color: black; 
    position: relative; 
    top: 80%; 
}


h1{
    background-color: rgb(253, 175, 58);
    color: white;
    text-align:left;
}

